$sans-serif-article: 'Nunito', sans-serif;
$sans-serif-article-2: 'Varela Round', sans-serif;

$accent-color: #336699;
$accent-secondary: #FF9933;
$nav-height: 50px;

$light-gray: transparentize($base-font-color, .6);
