<div id="social-links">
  <a title="neil.bourgeois on LinkedIn" href="https://www.linkedin.com/in/neilbourgeois/"><i class="fa fa-linkedin"></i></a>
  <a title="neilb14 on Github" href="http://github.com/neilb14/"><i class="fa fa-github-square"></i></a>
  <a title="neil.bourgeois on Facebook" href="http://facebook.com/neil.bourgeois"><i class="fa fa-facebook"></i></a>
  <a title="neilb14 on Twitter" href="http://twitter.com/neilb14"><i class="fa fa-twitter-square"></i></a>
  <a title="RSS feed" id="rss" href="/atom.xml"><i class="fa fa-rss-square"></i></a>
</div>